<div class="wrapper">
    <div class="section">
        <div class="container">
            <div id="contentAreas" class="cd-section">
                <h3 class="title">Shopping Cart</h3>
                <!--                 tables -->
                <div id="tables">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th></th>
                                                <th></th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                                <th class="text-right">
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Amount
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                                let total = 0;
                                                cart.forEach(ele => {
                                            %>
                                            <tr>
                                                <td>
                                                    <div class="img-container">
                                                        <img src="/public/resources/images/<%= ele.product[0].img_url %>" alt="...">
                                                    </div>
                                                </td>
                                                <td class="td-name">
                                                    <a href="/product/<%= ele.product[0]._id %>"><%= ele.product[0].name %></a>
                                                    <br>
                                                    <small>by <%= ele.product[0].author %></small>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td class="td-number col-price">
                                                    <span><%= ele.product[0].price.toLocaleString() %></span><small>đ</small>
                                                </td>
                                                <td class="td-number">
                                                    <span><%= ele.amount %></span>
                                                    <p class="id_product d-none"><%= ele.id_product %></p>
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-sm btn-dec"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        <button class="btn btn-info btn-sm btn-inc"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </td>
                                                <td class="td-number total-row">
                                                    <% let total_price_row = ele.product[0].price * ele.amount; total += total_price_row %>
                                                    <span><%= total_price_row.toLocaleString() %></span><small>đ</small>
                                                </td>
                                                <td class="td-actions col-del">
                                                    <button type="button" rel="tooltip" data="<%= ele.id_product %>" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td class="td-total">
                                                    Total
                                                </td>
                                                <td class="td-price">
                                                    <span><%= total.toLocaleString() %></span><small>đ</small>
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-success btn-round " data-original-title="" title="">
                                                        Purchase
                                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                 end tables -->
            </div>
        </div>
    </div>
</div>

<%- contentFor('js') %>
<script>
    $(document).on('click', '.btn-inc', function(e) {
        const parent = $(this).parent().parent();
        const price = +parent.parent().find('.col-price span').text().trim().replaceAll(',', '');
        const id_product = parent.find('p.id_product').text().trim();
        const currentQt = parent.find('span').text().trim();
        const newQt = +currentQt + 1;
        const totalRow = parent.parent().find('.total-row span');
        const totalRowVal = +totalRow.text().trim().replaceAll(',', '');

        $.ajax({
            method: 'post',
            url: '/api/cart',
            data: {
                id_product,
                amount: newQt
            },
            success: function (data) {
                if (data) {
                    parent.find('span').text(newQt);
                    totalRow.text((totalRowVal + price).toLocaleString());
                    calcTotal(price, 'inc');
                }
            }
        })
    })

    $(document).on('click', '.btn-dec', function(e) {
        const parent = $(this).parent().parent();
        const price = +parent.parent().find('.col-price span').text().trim().replaceAll(',', '');
        const id_product = parent.find('p.id_product').text().trim();
        const currentQt = parent.find('span').text().trim();
        const newQt = +currentQt - 1;
        const totalRow = parent.parent().find('.total-row span');
        const totalRowVal = +totalRow.text().trim().replaceAll(',', '');

        if (newQt == 0) {
            const next = confirm('Are you sure to remove this product from cart?');
            if (!next) return;
        }

        $.ajax({
            method: 'post',
            url: '/api/cart',
            data: {
                id_product,
                amount: newQt
            },
            success: function (data) {
                if (data) {
                    parent.find('span').text(newQt);
                    if (newQt == 0) {
                        parent.parent().remove();
                    } else totalRow.text((totalRowVal - price).toLocaleString());
                    calcTotal(price, 'dec');
                }
            }
        })
    })

    $(document).on('click', '.col-del button', function (e) {
        const id_product = $(this).attr('data');
        const row = $(this).parent().parent();
        const totalRow = row.find('.total-row span');
        const totalRowVal = +totalRow.text().trim().replaceAll(',', '');

        if (!confirm('Are you sure to remove this product from cart?')) return;

        $.ajax({
            type: 'delete',
            url: `/api/cart/${id_product}`,
            success: function (data) {
                if (data) {
                    row.remove();
                    calcTotal(totalRowVal, 'dec');
                }
            }
        })
    })

    function calcTotal(price, type) {
        const currentTotal = +$('.td-price').find('span').text().trim().replaceAll(',', '');
        let newTotal = 0;
        if (type == 'inc') newTotal= currentTotal + price;
        else newTotal = currentTotal - price;
        $('.td-price').find('span').text(newTotal.toLocaleString());
    }
</script>