<div class="wrapper">
    <div class="section">
        <div class="container">
            <div id="contentAreas" class="cd-section">
                <h3 class="title">
                    <button class="btn btn-default btn-icon btn-neutral" rel="tooltip" data-original-title="Back to Cart" onclick="window.location='/cart'">
                        <i class="arrows-1_minimal-left now-ui-icons"></i>
                    </button>
                    Checkout
                </h3>
                <!--                 tables -->
                <div id="tables">
                    <div class="row">
                        <div class="col-md-3 align-self-center">
                            <!-- Form manage account -->
                            <div class="card card-contact card-raised">
                                <form role="form">
                                    <div class="card-header text-center">
                                        <h4 class="card-title">Contact info.</h4>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="form-group">
                                                <label>Fullname</label>
                                                <div class="input-group" disabled>
                                                    <span class="input-group-addon">
                                                        <i class="now-ui-icons travel_info"></i>
                                                    </span>
                                                    <input type="text" disabled id="inputFullname" placeholder="Fullname Here..." value="krulzilla" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Phone number</label>
                                                <div class="input-group" disabled>
                                                    <span class="input-group-addon">
                                                        <i class="now-ui-icons location_pin"></i>
                                                    </span>
                                                    <input type="text" disabled id="inputAddress" placeholder="Phone Here..." value="0706316621" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>Address</label>
                                                <div class="input-group" disabled>
                                                    <span class="input-group-addon">
                                                        <i class="now-ui-icons location_pin"></i>
                                                    </span>
                                                    <input type="text" disabled id="inputAddress" placeholder="Address Here..." value="In HCM City" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <i class="now-ui-icons shopping_delivery-fast"></i>
                                            <label>Shipment method: <h6 class="d-inline-block text-info" rel="tooltip" title="You will for the order at the time of delivery" data-placement="bottom" >COD</h6></label>
                                        </div>
                                        <div id="profile-noti"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="button" onclick="window.location='/profile'" class="btn btn-primary btn-round pull-right">Change info</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th></th>
                                                <th></th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                                <th class="text-right">
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Subtotal
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                            let total = 0;
                                            cart.forEach(ele => {
                                            %>
                                                <tr>
                                                    <td>
                                                        <div class="img-container">
                                                            <img src="/public/resources/images/<%= ele.product[0].img_url %>" alt="...">
                                                        </div>
                                                    </td>
                                                    <td class="td-name">
                                                        <span><%= ele.product[0].name %></span>
                                                        <br>
                                                        <small>by <%= ele.product[0].author %></small>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="td-number col-price">
                                                        <span><%= ele.product[0].price.toLocaleString() %></span><small>đ</small>
                                                    </td>
                                                    <td class="td-number">
                                                        <span><%= ele.amount %></span>
                                                        <p class="id_product d-none"><%= ele.id_product %></p>
                                                    </td>
                                                    <td class="td-number total-row">
                                                        <% let total_price_row = ele.product[0].price * ele.amount; total += total_price_row %>
                                                        <span><%= total_price_row.toLocaleString() %></span><small>đ</small>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <tr id="noti"></tr>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td class="td-total">
                                                    Total
                                                </td>
                                                <td class="td-price">
                                                    <span><%= total.toLocaleString() %></span><small>đ</small>
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-behance btn-round btn-checkout " data-original-title="">
                                                        Checkout
                                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                 end tables -->
            </div>
        </div>
    </div>
</div>

<%- contentFor('js') %>
<script>
    $('.btn-checkout').click(function (e) {
        const btnCheckout = $(this);
        $.ajax({
            method: 'post',
            url: '/checkout',
            success: function (data) {
                if (data.status == true) {
                    createNoti('success', '#noti', 'Checkout successfully! Redirect to My orders in 5s')
                    btnCheckout.attr('disabled', true);
                    setTimeout(() => {
                        window.location = '/orders'
                    }, 5000)
                } else {
                    createNoti('fail', '#noti', data.msg)
                }
            }
        })
    })

    function createNoti(type, position, msg) {
        if (type == 'success') {
            $(position).html(`
            <td colspan="999">
                <div class="alert alert-success" role="alert" style="border-radius: 15px">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons shopping_cart-simple"></i>
                        </div>
                        <strong>${msg}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </td>
            `);
        } else {
            $(position).html(`
            <td colspan="999">
                <div class="alert alert-danger" role="alert" style="border-radius: 15px">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                        </div>
                        <strong>${msg}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </td>
            `);
        }
    }
</script>