<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Users</h4>
                        <p class="category">Manage all users</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Fullname</th>
                                <th>Age</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% users.forEach(function(ele, index) { %>
                                <tr>
                                    <td class="text-center"><%= index + 1 %></td>
                                    <td><%= ele.username %></td>
                                    <td><%= ele.email %></td>
                                    <td><%= ele.fullname %></td>
                                    <td><%= ele.age %></td>
                                    <td><%= ele.phone %></td>
                                    <td><%= ele.is_admin ? 'Admin' : 'Customer' %></td>
                                    <td class="td-actions text-right">
                                        <a href="#" rel="tooltip" title="View Profile"
                                           class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <a href="#" rel="tooltip" title="Edit Profile"
                                           class="btn btn-success btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" rel="tooltip" title="Remove"
                                           class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>