<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Product</h4>
                        <p class="category">Manage all products in bookshop</p>
                        <br/>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-bigboy">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Thumb</th>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Action</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <% products.forEach((ele, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td>
                                            <div class="img-container">
                                                <img src="<%= `/public/resources/images/${ele.img_url}` %>"
                                                     alt="<%= `${ele.name}` %>">
                                            </div>
                                        </td>
                                        <td>
                                            <b><%= `${ele.name}` %></b>
                                        </td>
                                        <td>
                                            <%= `${ele.author}` %>
                                        </td>
                                        <td>
                                            <%= `${ele.publisher}` %>
                                        </td>
                                        <td class="td-number">
                                            <%= `${ele.price.toLocaleString()} đ` %>
                                        </td>
                                        <td class="td-number">
                                            <%= `${ele.amount.toLocaleString()}` %>
                                        </td>
                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" data-placement="left" title="View Post"
                                                    class="btn btn-info btn-simple btn-icon">
                                                <i class="fa fa-image"></i>
                                            </button>
                                            <button type="button" rel="tooltip" data-placement="left" title="Edit Post"
                                                    class="btn btn-success btn-simple btn-icon">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" data-placement="left" title="Remove Post"
                                                    class="btn btn-danger btn-simple btn-icon ">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>
