<%- include('./admin_partials/header.ejs') %>

<!-- Wrapper content -->
<div class="wrapper">
    <%- include('./admin_partials/sidebar.ejs') %>

    <div class="main-panel">
        <%- include('./admin_partials/navbar.ejs') %>

        <%- body %>
    </div>
</div>

<%- include('./admin_partials/footer.ejs') %>