<%- include('./admin_partials/header.ejs') %> <!-- This partial import css libs -->

<!-- Wrapper content -->
<div class="wrapper">
    <%- include('./admin_partials/sidebar.ejs') %>

    <div class="main-panel">
        <%- include('./admin_partials/navbar.ejs') %>

        <%- body %>

        <%- include(footerCopyright) %>
    </div>
</div>

<%- include('./admin_partials/footer.ejs') %> <!-- This partial import js libs -->

<%- defineContent('js') %>

</html>